<html>

   <header> <h1> Sunava </h1> </header>
			<h2>1001627533</h2>
   <body>      
      <center>
      <header> <h1> Information Requst Portal </h1> </header>
      <br> <br>
      <form action = "{{ url_for('addrec') }}" method = "POST">
      <h3>Student Information</h3>
      Name<br>

      <input type = "text" name = "nm" /></br>
         
      vehicle<br>
      <textarea name = "vehicle" ></textarea><br>
         
      grade<br>
      <input type = "text" name = "grade" /><br>
         
      Room<br>
      <input type = "text" name = "room" /><br>
      telnum<br>
      <input type = "text" name = "telnum" /><br>
      picture<br>
      <input type = "image" name = "picture" /><br>
      keywords<br>
      <input type = "text" name = "keywords" /><br>
      <input type = "submit" value = "submit" /><br>
      
      </form>
      <br>
      <h2> <a href = "/">Home</a> </h2>
      
   </body>
</html>